@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
}

/* VARIAVEIS */
$black: #000;
$white: #fff;
$gray: #141414;
$red: #DC1A28;

@mixin container{
    display: flex;
    max-width: 1310px;
    margin: auto;
    padding: 0 30px;
}

body{
    background-color: $gray;
    // overflow-x: hidden;
}
