* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* VARIAVEIS */
$black: #000;
$white: #fff;
$gray: #141414;
$red: #DC1A28;

@mixin container{
    display: flex;
    max-width: 1310px;
    margin: auto;
    padding: 0 30px;
}

body{
    background-color: $gray;
}
